{% extends 'app_mailing/base.html' %}

{% load static %}

{% block title %}Письмо отправлено{% endblock %}

{% block content %}
<div class="container my-5">

    <!-- Hero-блок с логотипом и текстом -->
    <div class="text-center mb-5">

        <!-- Логотип + Текст -->
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-center gap-4">
            <img src="{% static 'image/app_logo/app_logo_3_title_background.png' %}" class="img-fluid"
                 alt="Логотип MailForge" style="max-height: 120px;">
            <div>
                <h1 class="fw-bold text-primary">MailForge — разогрей интерес клиентов!</h1>
                <p class="lead text-muted mb-0">Рассылки для прогрева, удержания и роста. Управляй, анализируй и
                    вдохновляй — всё в одном месте.</p>
            </div>
        </div>
    </div>

    <!-- Форма для полей с отступом  -->
    <div class="container my-5 text-center">
        <h2 class="fw-bold mb-4">Проверьте вашу почту</h2>
        <p class="lead">Если в базе найден аккаунт с таким email, мы отправили письмо с инструкцией по восстановлению
            пароля.</p>
        <!-- Кнопки  -->
        <a href="{% url 'users:login_page' %}" class="btn btn-primary mt-4">На страницу входа</a>
    </div>

</div>

{% endblock %}